@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
.pokedex__title {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  text-align: left;
  margin-left: 2%;
  gap: 10px;
  padding: 40px;
  position: relative;
}
.pokedex__title span {
  color: red;
}
.pokedex__container {
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 10px;
}
.pokedex__form {
  display: flex;
  justify-content: center;
  padding: 20px;
  margin: 20px;
}
.pokedex__input:focus::placeholder {
  color: transparent;
}
.pokedex__input {
  display: inline-block;
  font-family: inherit;
  text-align: center;
  box-shadow: 2px 0 15px #b9b9b9;
  border: none;
  padding: 5px;
  gap: 10px;
}
.pokedex__input::placeholder {
  margin-left: 60px;
}
.pokedex__input:hover {
  cursor: text;
}
.pokedex__btn {
  background-color: #cc0000;
  color: white;
  padding: 5px 20px 5px 20px;
  border: none;
  cursor: pointer;
  transition: transform 0.5s, box-shadow 0.5s;
}
.pokedex__btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px #cc0000;
  transition: transform 0.5s, box-shadow 0.5s;
}
.pokedex__buttons {
  display: flex;
  flex-direction: row;
  gap: 350px;
  width: 100%;
  max-width: 100%;
  justify-content: center;
}
